<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free movie catalogue for you" />
    <meta name="theme-color" content="#232946" />

    <link rel="apple-touch-icon" href="./apple-touch-icon.png" />
    <link rel="icon" href="./favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="manifest" href="./app.webmanifest" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>Restaurant Catalogue</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Restaurant Catalogue</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/restaurant-list">Restaurant</a></li>
          <li><a href="#/like">Favorite</a></li>
          <li>
            <a
              href="https://www.facebook.com/profile.php?id=100077436619684"
              target="_blank"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <picture>
      <source media="(max-width: 600px)" srcset="./hero/hero-image_4-small.jpg">
      <img src='./hero/hero-image_4-large.jpg' 
           alt=" ">
    </picture>
    <main id="mainContent" tabindex="0"></main>
    <footer>
      <div id="footerTools">
        <button id="subscribePushNotification" class="btn">
          Subscribe Push Notification
        </button>
        <button id="unsubscribePushNotification" class="btn">
          Unsubscribe Push Notification
        </button>
      </div>
      <p>
        All data obtained from
        <a
          href="https://restaurant-api.dicoding.dev/"
          target="_blank"
          rel="noreferrer"
          >Restaurant API Dicoding</a
        >
      </p>
    </footer>
    <div class="loading">Loading...</div>
  </body>
</html>
